.selects img{
    width: 100%;
    height: 100%;
    filter: brightness(0.7)
   
    
}
.selects{
    position: relative;
}
.overlay{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
}
p{
    font-size: 25px;
    font-weight: 500;
}